html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.sizeEstante{
    width: 90%;
    height: 90%;
}
.card-itens{
    box-shadow: 1px 1px 5px rgba(143, 141, 141, 0.8);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin: 10%;
    padding-bottom: 10%;
   
   
}
.card-bg{
    box-shadow: 1px 1px 5px rgba(143, 141, 141, 0.8);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin: 10%;
    padding: 2%;
}

.itenEstante{
    text-align: center;
    padding-top: 20px;
}
.imgEstante{
    border-radius: 30px;
    width: 70%;
    box-shadow: 1px 10px 5px #cccc;
}


.divisoria{
    margin: 5px;
    justify-content: right; 
}



