html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    background-image: url(../assets/PlanoDeFundo.jpgs);
}

header{
background:#660000;
grid-column: 1/3;

}

main{
    background: blue;
}
 aside{
     background:red;   
     grid-column: 2;
   
}   
footer{
    color: aliceblue;
    grid-column: 1/3;
    background-color: #212529;
    text-decoration:none;
    align-items: center;
   padding-left: 10%;
}

.container-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 13vh 70vh 10vh;
    grid-gap: 10px;
}